<h1>Bem vindo!</h1>
<p>Site de teste feito para moedas digitais</p>

<%= render "menu"%>

<p>
Eu me chamo <strong><%= @meu_nome %></strong>
</p>

<p>
Eu estou cursando <strong><%= @meu_curso %></strong> e o status está <%=@status%>
</p>









 <%#<p> Para iniciar <a href="http://localhost:3000/coins">Clique aqui></p> HTML%>
